@import "tailwindcss";

@theme {
  --color-background: #0f0f0f;
  --color-foreground: #e8e8e2;
  --color-muted: #555555;
  --color-muted-forground: #888888;
  --color-border: #1e1e1e;
  --color-accent: #39d353;
  --color-hover: #161515f5;

  --font-mono: "Courier New", monospace;
  --font-sans: Arial, Helvetica, sans-serif;
}



html {
  scroll-behavior: smooth;
}

body {
  background: #0f0f0f;
  color: #e8e8e2;
  font-family: "Courier New", monospace;
}

.section{
  padding: 100px 40px;
  border-bottom: 1px solid var(--color-border)
}

.headings {
  color: var(--color-muted);
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-family: var(--font-mono);
  margin-bottom: 40px;
}
/* Animations */

@keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 0 0 #39d35366;
  }

  50% {
    box-shadow: 0 0 0 6px #39d35300;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}